@CHARSET "UTF-8";
	.middle{width:650px;height:48px;position: absolute;left:120px;}
  	.middle .musicimg{width:32px;height:32px;margin:8px 15px 8px 25px;float:left;}
  	.middle .middletop{height:26px;float:left;}
  	.middle .middletop .musicName{font: bold normal 12px/26px "宋体";float:left;color:white}
  	.middle .middletop .musicMv{font: normal normal 13px/14px "微软雅黑";float:left;color:white;margin:6px 4px;background: red;border-radius:100%;width:14px;height:14px;;}
  	.middle .middletop .musicAuthor{margin-left:4px;font: normal normal 12px/26px "宋体";float:left;color:white;}
  	.middle .middlebottom{width:500px;height:22px;position: absolute;left:72px;bottom:0px;}
  	.jindutiao{position:relative;margin:6px 7px;height: 10px;background-color:#ccc;border-radius:5px;}
  	.jinduquan{position:absolute;height:6px;width:6px;border:4px solid white;border-radius:100%;background:red;left:0px;top:-2px;}
 	.jinduhong{position:absolute;left:0;height: 10px;background:red;border-radius:5px 5px 5px 5px;}
 	.middletime{width:70px;position: absolute;left:580px;font:normal normal 6px/22px "宋体";bottom:0px;}